#home {
    position: relative;
    background: url(../../assets/bgIMG.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;

    @media screen and (max-width: 454px) {
        background-position: right;
    }
}

.app__header {
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: column;

    @media screen and (max-width: 576px) {
        padding: 6rem 1rem 2rem;
    }
}

.app__header-name {
    flex: 0.65;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100px;

    h1 {
        font: 800 3.5rem var(--font-head);
        text-align: center;
        text-transform: uppercase;

        @media screen and (min-width: 2000px) {
            font-size: 4.75rem;
        }
        @media screen and (max-width: 768px) {
            font-size: 2.75rem;
        }
        @media screen and (max-width: 630px) {
            font-size: 2.35rem;
        }
        @media screen and (max-width: 576px) {
            font-size: 1.9rem;
        }
        @media screen and (max-width: 375px) {
            font-size: 1.85rem;
        }
    }
}

.app__header-info {
    flex: 0.65;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;

    p {
        font-size: 1.35rem;
        text-align: center;
        text-transform: capitalize;

        @media screen and (min-width: 2000px) {
            font-size: 2rem;
        }
        @media screen and (max-width: 375px) {
            font-size: 1.05rem;
        }
    }
}
