@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
  --font-base: 'Montserrat', sans-serif;
  --font-head: 'Open Sans', sans-serif;
  --primary-color: #ffffd4;
  --secondary-color: #5555ff;
  --black-color: #030303;
  --light-gray-color: #e4e4e4;
  --gray-color: #4a515d;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

