@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

:root {
  --font-base: 'Source Sans Pro', sans-serif;
  --primary-color: #ffffd4;
  --secondary-color: #5555ff;
  --black-color: #030303;
  --light-gray-color: #e4e4e4;
  --gray-color: #4a515d;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

